#datalistmovie{
	.all{
		.navbar{
			background:#f5f5f5;
			border-bottom:1px solid #ccc;
			padding:.05rem .2rem;
			h2{
				padding:.05rem;
			}
			p{
				padding:.05rem;
				text-align: left;
			}
		}
		ul{
			li{
				border-bottom: 1px solid #ccc;
				padding:.2rem 0;
				dl{
					overflow: hidden;
					dt{
						span{
							font-size: 18px;
							float:left;
							width:.3rem;
							height:.3rem;
							line-height: .3rem;
							color:white;
							background: #ccc;
							border-radius:50%; 
							margin:.05rem;
						}
						.name1{
							background: #ff8600;
						}
						.name2{
							background: #76c62f;
						}
						.name3{
							background: #36b2ec;
						}
						img{
							width:1rem;
							float:left;
						}
					}
					dd{
						margin-right:.2rem;
						float:right;
						width:55%;
						text-align: left;
						h4{
							span{
								font-weight:100;
								background: #76c62f;
								color: white;
								padding:0 .02rem;
								margin-left: .05rem;
							}
						}
						.nameEn{
							font-size: 14px;
							color:#ccc;
							margin-bottom: .3rem;
							display: inline-block;
						}
					}
				}
				div{
					background: #f5f5f5;
					text-align: left;
					margin-left:.4rem;
					margin-top:.2rem;
					margin-right:.2rem;
					font-size: 14px;
					p{
						padding:.05rem;
					}
				}
			}
		}
	}
}