#review{
	.navbar{
		position:relative;
		height:2rem;
		overflow: hidden;
		img{
			width:1rem;
			position:absolute;
			bottom:.2rem;
			left:.2rem;
			z-index:10;
		}
		div{
			position:absolute;
			width:100%;
			bottom: 0;
			height:.5rem;
			background: black;
			opacity: 0.5;
		}
		h2{
			text-align:left;
			margin-left:1.3rem;
			color:white;
			position:absolute;
			width:100%;
			bottom: .2rem;
			height:.3rem;
			line-height: .3rem
		}
		p{
			text-align:left;
			margin-left:1.3rem;
			color:white;
			position:absolute;
			width:100%;
			bottom:0;
			height:.2rem;
			line-height: .2rem
		}
	}
	.detail{
		li{
			box-sizing: border-box;
			width:100%;
			padding:.2rem;
			border-bottom: 1px solid #ccc;

			a{
				text-decoration: none;
				color:black;
				img{
					float: left;
					margin-right:.2rem;
				}
				.text{
					text-align: left;
					.review{
						margin-top: 0.1rem;
						position: relative;
						.head{
							display: inline-block;
							height:.3rem;
							width:.3rem;
							border-radius: 50%;
/*							overflow: hidden;
*/							img{
								width:100%;
							}
						}
						p{
							position: absolute;
							display: inline-block;
							margin-left:0.1rem;
							height:.3rem;
							line-height:.3rem;
							top:50%;
							margin-top: -.15rem;
							span{
								color:#909090
							}
							span:nth-of-type(2){
								height:.3rem;
								width:.3;
								background:#659d0e;
								color:white;
							}
						}
					}
				}
			}
		}
	}
}