#detail{
	.all{
		padding:.2rem;
		h2{
			text-align:left;
			margin-bottom: 0.2rem;
		}
		dl{
			position: relative;
			overflow: hidden;
			padding:.5rem 0;
			dt{
				float:left;
				width:.5rem;
				height:.5rem;
				border-radius:50%;
				overflow: hidden;
				img{
					width:100%
				}
			}
			dd{
				float:left;
				margin-left: .2rem;
				text-align: left;
				.name{
					color:#ccc;
				}
				.rating{
					padding:.03rem;
					margin:.04rem;
					background:#659d0e;
					color:white;
				}
			}
			.img{
				position: absolute;
				right:0;
				width:1rem;
				bottom:0;
				z-index: 100;
			}
			.time{
				text-align: left;
				border-top:1px solid #ccc;
				position: absolute;
				bottom:0;
				margin-top:.2rem;
				width:100%;
				padding-top: .1rem;
			}
		}
		p{
			padding-top: .2rem;
			text-align: left;
			img{
				width:100%;
			}
			span{
				width:100%;
			}
		}
	}
}