.icon-less{
	position: fixed;
    bottom: 0.7rem;
    right: 0.1rem;
    z-index: 101;
    width: 0.6rem;
    height: 0.6rem;
    border-radius:50%;
    border:1px solid #ccc;
    font-size:0.5rem !important;
    text-align:center;
}