@font-face {
  font-family: 'icofont';
<<<<<<< HEAD
  src:  url('fonts/icofont.eot?989zt7');
  src:  url('fonts/icofont.eot?989zt7#iefix') format('embedded-opentype'),
    url('fonts/icofont.ttf?989zt7') format('truetype'),
    url('fonts/icofont.woff?989zt7') format('woff'),
    url('fonts/icofont.svg?989zt7#icofont') format('svg');
=======
  src:  url('fonts/icofont.eot?i2saj6');
  src:  url('fonts/icofont.eot?i2saj6#iefix') format('embedded-opentype'),
    url('fonts/icofont.ttf?i2saj6') format('truetype'),
    url('fonts/icofont.woff?i2saj6') format('woff'),
    url('fonts/icofont.svg?i2saj6#icofont') format('svg');
>>>>>>> fba8cb4ea3d0b30f243acfd77035dbe740406523
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icofont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
.icon-ICON_biaoqian_x:before {
  content: "\e601";
}
.icon-ICON_dingwei_x:before {
  content: "\e602";
}
.icon-ICON_fenxiang_x:before {
  content: "\e603";
}
.icon-ICON_shanchu_x:before {
  content: "\e604";
}
.icon-ICON_gouwuche_x:before {
  content: "\e605";
}
.icon-ICON_shaoma_x:before {
  content: "\e606";
}
.icon-ICON_shizhong_x:before {
  content: "\e607";
}
.icon-ICON_shouye_x:before {
  content: "\e608";
}
.icon-ICON_shousuo_x:before {
  content: "\e609";
}
.icon-ICON_suo_x:before {
  content: "\e60a";
}
.icon-ICON_shouchang_x:before {
  content: "\e60b";
}
.icon-ICON_shezhi_x:before {
  content: "\e60c";
}
.icon-ICON_tianjia_x:before {
  content: "\e60d";
}
.icon-ICON_wenben_x:before {
  content: "\e60e";
}
.icon-ICON_wode_x:before {
  content: "\e60f";
}
.icon-ICON_xianshi_x:before {
  content: "\e610";
}
.icon-ICON_xiazai_x:before {
  content: "\e611";
}
.icon-ICON_xiangji_x:before {
  content: "\e612";
}
.icon-ICON_yingliang_x:before {
  content: "\e613";
}
.icon-ICON_xihuan_x:before {
  content: "\e614";
}
.icon-ICON_zan_x:before {
  content: "\e615";
}
.icon-x:before {
  content: "\78";
=======
.icon-shangyinhao:before {
  content: "\e63d";
}
.icon-x:before {
  content: "\78";
}
.icon-ICON_biaoqian_x1:before {
  content: "\e616";
}
.icon-ICON_dingwei_x1:before {
  content: "\e617";
}
.icon-ICON_fenxiang_x1:before {
  content: "\e618";
}
.icon-ICON_shanchu_x1:before {
  content: "\e619";
}
.icon-ICON_gouwuche_x1:before {
  content: "\e61a";
}
.icon-ICON_shaoma_x1:before {
  content: "\e61b";
}
.icon-ICON_shizhong_x1:before {
  content: "\e61c";
}
.icon-ICON_shouye_x1:before {
  content: "\e61d";
}
.icon-ICON_shousuo_x1:before {
  content: "\e61e";
}
.icon-ICON_suo_x1:before {
  content: "\e61f";
}
.icon-ICON_shouchang_x1:before {
  content: "\e620";
}
.icon-ICON_shezhi_x1:before {
  content: "\e621";
}
.icon-ICON_tianjia_x1:before {
  content: "\e622";
}
.icon-ICON_wenben_x1:before {
  content: "\e623";
}
.icon-ICON_wode_x1:before {
  content: "\e624";
}
.icon-ICON_xianshi_x1:before {
  content: "\e625";
}
.icon-ICON_xiazai_x1:before {
  content: "\e626";
}
.icon-ICON_xiangji_x1:before {
  content: "\e627";
}
.icon-ICON_yingliang_x1:before {
  content: "\e628";
}
.icon-ICON_xihuan_x1:before {
  content: "\e629";
}
.icon-ICON_zan_x1:before {
  content: "\e62a";
>>>>>>> fba8cb4ea3d0b30f243acfd77035dbe740406523
}
.icon-all:before {
  content: "\e696";
}
.icon-back:before {
  content: "\e697";
}
.icon-cart:before {
  content: "\e698";
}
.icon-category:before {
  content: "\e699";
}
.icon-close:before {
  content: "\e69a";
}
.icon-comments:before {
  content: "\e69b";
}
.icon-cry:before {
  content: "\e69c";
}
.icon-delete:before {
  content: "\e69d";
}
.icon-edit:before {
  content: "\e69e";
}
.icon-email:before {
  content: "\e69f";
}
.icon-favorite:before {
  content: "\e6a0";
}
.icon-folder:before {
  content: "\e6a1";
}
.icon-form:before {
  content: "\e6a2";
}
.icon-help:before {
  content: "\e6a3";
}
.icon-information:before {
  content: "\e6a4";
}
.icon-less:before {
  content: "\e6a5";
}
.icon-moreunfold:before {
  content: "\e6a6";
}
.icon-more:before {
  content: "\e6a7";
}
.icon-pic:before {
  content: "\e6a8";
}
.icon-qrcode:before {
  content: "\e6a9";
}
.icon-refresh:before {
  content: "\e6aa";
}
.icon-rfq:before {
  content: "\e6ab";
}
.icon-search:before {
  content: "\e6ac";
}
.icon-selected:before {
  content: "\e6ad";
}
.icon-set:before {
  content: "\e6ae";
}
.icon-smile:before {
  content: "\e6af";
}
.icon-success:before {
  content: "\e6b1";
}
.icon-survey:before {
  content: "\e6b2";
}
.icon-training:before {
  content: "\e6b3";
}
.icon-viewgallery:before {
  content: "\e6b4";
}
.icon-viewlist:before {
  content: "\e6b5";
}
.icon-warning:before {
  content: "\e6b6";
}
.icon-wrong:before {
  content: "\e6b7";
}
.icon-account:before {
  content: "\e6b8";
}
.icon-add:before {
  content: "\e6b9";
}
.icon-atm:before {
  content: "\e6ba";
}
.icon-clock:before {
  content: "\e6bb";
}
.icon-remind:before {
  content: "\e6bc";
}
.icon-calendar:before {
  content: "\e6bf";
}
.icon-attachment:before {
  content: "\e6c0";
}
.icon-3column:before {
  content: "\e6c3";
}
.icon-4column:before {
  content: "\e6c4";
}
.icon-discount:before {
  content: "\e6c5";
}
.icon-service:before {
  content: "\e6c7";
}
.icon-print:before {
  content: "\e6c9";
}
.icon-box:before {
  content: "\e6cb";
}
.icon-process:before {
  content: "\e6ce";
}
.icon-bags:before {
  content: "\e6d1";
}
.icon-beauty:before {
  content: "\e6d2";
}
.icon-electrical:before {
  content: "\e6d4";
}
.icon-electronics:before {
  content: "\e6da";
}
.icon-gifts:before {
  content: "\e6db";
}
.icon-apparel:before {
  content: "\e6dc";
}
.icon-atmaway:before {
  content: "\e6e9";
}
.icon-rfq1:before {
  content: "\e6eb";
}
.icon-scanning:before {
  content: "\e6ec";
}
.icon-filter:before {
  content: "\e6f1";
}
.icon-pin:before {
  content: "\e6f2";
}
.icon-history:before {
  content: "\e6f3";
}
.icon-productfeatures:before {
  content: "\e6f4";
}
.icon-supplierfeatures:before {
  content: "\e6f5";
}
.icon-similarproduct:before {
  content: "\e6f6";
}
.icon-link:before {
  content: "\e6f7";
}
.icon-cut:before {
  content: "\e6f8";
}
.icon-navlist:before {
  content: "\e6fa";
}
.icon-imagetext:before {
  content: "\e6fb";
}
.icon-text:before {
  content: "\e6fc";
}
.icon-move:before {
  content: "\e6fd";
}
.icon-subtract:before {
  content: "\e6fe";
}
.icon-dollar:before {
  content: "\e702";
}
.icon-raw:before {
  content: "\e704";
}
.icon-office:before {
  content: "\e705";
}
.icon-agriculture:before {
  content: "\e707";
}
.icon-machinery:before {
  content: "\e709";
}
.icon-assessedbadge:before {
  content: "\e70a";
}
.icon-gerenzhongxin:before {
  content: "\e70b";
}
.icon-jifen:before {
  content: "\e70c";
}
.icon-operation:before {
  content: "\e70e";
}
.icon-remind1:before {
  content: "\e713";
}
.icon-icondownload:before {
  content: "\e714";
}
.icon-map:before {
  content: "\e715";
}
.icon-good:before {
  content: "\e717";
}
.icon-skip:before {
  content: "\e718";
}
.icon-iconfontplay2:before {
  content: "\e719";
}
.icon-iconfontstop:before {
  content: "\e71a";
}
.icon-compass:before {
  content: "\e71b";
}
.icon-security:before {
  content: "\e71c";
}
.icon-share:before {
  content: "\e71d";
}
.icon-store:before {
  content: "\e722";
}
.icon-rejectedorder:before {
  content: "\e724";
}
.icon-phone:before {
  content: "\e725";
}
.icon-bussinessman:before {
  content: "\e726";
}
.icon-mobilephone:before {
  content: "\e72a";
}
.icon-emailfilling:before {
  content: "\e72d";
}
.icon-favoritesfilling:before {
  content: "\e730";
}
.icon-accountfilling:before {
  content: "\e732";
}
.icon-creditlevelfilling:before {
  content: "\e736";
}
.icon-exl:before {
  content: "\e73f";
}
.icon-pdf:before {
  content: "\e740";
}
.icon-zip:before {
  content: "\e741";
}
.icon-sorting:before {
  content: "\e743";
}
.icon-copy:before {
  content: "\e744";
}
.icon-hot:before {
  content: "\e756";
}
.icon-trade:before {
  content: "\e758";
}
.icon-component:before {
  content: "\e75e";
}
.icon-color:before {
  content: "\e760";
}
.icon-color-filling:before {
  content: "\e7cd";
}
.icon-favorites:before {
  content: "\e7ce";
}
.icon-RFQ:before {
  content: "\e803";
}
.icon-originalimage:before {
  content: "\e806";
}
.icon-logistic:before {
  content: "\e811";
}
.icon-video:before {
  content: "\e820";
}
<<<<<<< HEAD
=======
.icon-ICON_biaoqian_x:before {
  content: "\e601";
}
.icon-ICON_dingwei_x:before {
  content: "\e602";
}
.icon-ICON_fenxiang_x:before {
  content: "\e603";
}
.icon-ICON_shanchu_x:before {
  content: "\e604";
}
.icon-ICON_gouwuche_x:before {
  content: "\e605";
}
.icon-ICON_shaoma_x:before {
  content: "\e606";
}
.icon-ICON_shizhong_x:before {
  content: "\e607";
}
.icon-ICON_shouye_x:before {
  content: "\e608";
}
.icon-ICON_shousuo_x:before {
  content: "\e609";
}
.icon-ICON_suo_x:before {
  content: "\e60a";
}
.icon-ICON_shouchang_x:before {
  content: "\e60b";
}
.icon-ICON_shezhi_x:before {
  content: "\e60c";
}
.icon-ICON_tianjia_x:before {
  content: "\e60d";
}
.icon-ICON_wenben_x:before {
  content: "\e60e";
}
.icon-ICON_wode_x:before {
  content: "\e60f";
}
.icon-ICON_xianshi_x:before {
  content: "\e610";
}
.icon-ICON_xiazai_x:before {
  content: "\e611";
}
.icon-ICON_xiangji_x:before {
  content: "\e612";
}
.icon-ICON_yingliang_x:before {
  content: "\e613";
}
.icon-ICON_xihuan_x:before {
  content: "\e614";
}
.icon-ICON_zan_x:before {
  content: "\e615";
}
>>>>>>> fba8cb4ea3d0b30f243acfd77035dbe740406523
