h2{
	position:relative;
	.icon-more{
		width: 0.14rem;
	    height: 0.08rem;
	    position: absolute;
	    top: 50%;
	    right:0.18rem;
	    font-size:0.2rem !important;
	    margin-top: -0.04rem;
	    line-height: 0.08rem;
	}
	a{
		color:#333;
		font-size:0.22rem;
		padding: 0.06rem 0.18rem 0.18rem 0.18rem;
	}
}