.left_1{
	width:100%;
	height:0.53rem;
	background-color:#1c2635;
	text-align:left;
	.icon-back{
		font-size:0.3rem !important;
		color: #ccc;
		line-height:0.55rem;
	}
	.hot_background{
		background: #0d121a;
	    display: inline-block;
	    border-radius: 0.4rem;
	    width: 2.56rem;
	    height:0.33rem;
	    line-height:0.33rem;
	    position:relative;
	    top:10%;
	    left:6%;
		.hot_color{
			float:left;
			display:inline-block;
			width:1.28rem;
			height:0.31rem;
		    text-align:center;
		    line-height:0.31rem;
		    position:relative;
		    top:0.01rem;
			.hot_active{
				background: #1c2635;
				border-radius: 0.4rem;
	 		    display: block;
	 		    color:#fff;
	 		    text-align: center;
			}
			a{
				color: #999;
			}
			span{

			}
		}
	}
}